body {
    background: url('https://res.cloudinary.com/tymaestro/image/upload/v1653393186/background-image_l6vcbw.jpg') no-repeat;
    background-size: cover;
    background-color: azure;
    text-align: center;
}

h1 {
    padding: 10px;
}

#activity-content {
    margin: 30px;
}

[id*="activity-card"] {
    background-color: rgba(253, 248, 241, 0.899);
    height: 100%;
}

#activities-position {
    margin-top: 2rem !important;
}

.header-main-container {
    min-height: calc(100vh - 89px);
}

#delete-margin {
    margin-top: 170px;
}

#signout {
    margin-top: 190px;
    width: 40%;
}

#login {
    margin-top: 140px;
    width: 50%;
}

#signup {
    margin-top: 120px;
    width: 50%;
}

#search-form {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

#comment-margin {
    margin-top: 100px;
}

#button-margin {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

#activity-button {
    margin: 15px;
}

#submit-button {
    margin: 10px;
}

#update-button {
    margin-bottom: 20px;
}

#buttons {
    margin: 5px;
}

#back-buttons {
    margin-bottom: 20px;
    background-color: rgba(253, 248, 241, 0.899);
}

#back-buttons:hover {
    background-color: #007bff;
    color: rgba(253, 248, 241, 0.899);
}

#activity-title {
    text-decoration: none;
}

#footer {
    
    background-color: rgba(255, 255, 255);
    color: black;
    text-align: center;
    padding: 12px;
}

footer div a {
    font-size: 150%;
    padding-left: 10px;
    padding-right: 10px;
}