/* a {
    color: blue;
}

.header-container {
    min-height: calc(100vh - 98px);
}

.title {
    float: left;
    line-height: 50px;
    margin-left: 10px;
}

.title a {
    color: white;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
}

.nav-banner {
    background: rgb(0, 0, 0, 0.3);
    height: 80px;
    position: absolute;
    width: 100%;
}

.nav-menu {
    float: right;
    line-height: 70px;
    margin-right: 10px;
}

.nav-menu a {
    color: white;
    font-size: 28px;
    padding: 10px;
    text-decoration: none;
}

.nav-menu a:hover {
    color: #ffffffcb;
} */

body {
    background: url('https://res.cloudinary.com/tymaestro/image/upload/v1653393186/background-image_l6vcbw.jpg') no-repeat;
    background-size: cover;
    background-color: azure;
    text-align: center;
}

#activity-content {
    margin: 30px;
}

#activity-card {
    background-color: rgba(255, 255, 255, 0.8);
}