/* Body Styling */

body {
    background: url('https://res.cloudinary.com/tymaestro/image/upload/v1653393186/background-image_l6vcbw.jpg') no-repeat;
    background-size: cover;
    background-color: azure;
    text-align: center;
}

/* h1 Styling */

h1 {
    padding: 10px;
}

/* Container Styling */

.header-main-container {
    min-height: calc(100vh - 89px);
}

/* Home Page Styling */

#home-page {
    margin-top: 140px;
    width: 80%;
}

#home-page-card {
    background-color: rgba(253, 248, 241, 0.899);
    height: 98%;
    padding: 10px;
}

/* Activity Pages Styling */

#activity-content {
    margin: 30px;
}

[id*="activity-card"] {
    background-color: rgba(253, 248, 241, 0.899);
    height: 98%;
}

#create-activity-card {
    background-color: rgba(253, 248, 241, 0.899);
    height: 98%;
    margin-bottom: 10px;
}

[id*="update-activity-card"] {
    background-color: rgba(253, 248, 241, 0.899);
    height: 98%;
    margin-bottom: 10px;
}

[id*="activity-title"] {
    text-decoration: none;
}

#activities-position {
    margin-top: 2rem !important;
}

/* Search Form Styling */

#search-form {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

#search-position {
    display: flex;
    flex-flow: unset;
}

/* Delete Activity Page Styling */

#delete-margin {
    margin-top: 170px;
}

/* Create Comment Page Styling */

#comment-content {
    margin: 30px;
}

#comment-card {
    background-color: rgba(253, 248, 241, 0.899);
    height: 98%;
    padding: 20px;
}

#comment-margin {
    margin-top: 100px;
}

/* Sign-Up Page Styling */

#signup {
    margin-top: 120px;
    width: 50%;
}

/* Login Page Styling */

#login {
    margin-top: 140px;
    width: 50%;
}

/* Sign-Out Page Styling */

#signout {
    margin-top: 190px;
    width: 40%;
}

/* Error Pages Styling */

#error {
    margin-top: 140px;
    width: 50%;
}

/* Buttons Styling */

#edit-button-margin {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

#delete-button-margin {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

#activity-button {
    margin: 15px;
}

#error-button {
    margin: 15px;
}

#submit-button {
    margin: 10px;
}

#update-button {
    margin-bottom: 20px;
}

#buttons {
    margin: 5px;
}

#back-buttons {
    margin-bottom: 20px;
    background-color: rgba(253, 248, 241, 0.899);
}

#back-buttons:hover {
    background-color: #007bff;
    color: rgba(253, 248, 241, 0.899);
}

#previous-button {
    margin-bottom: 20px;
    background-color: rgba(253, 248, 241, 0.899);
}

#previous-button:hover {
    background-color: #007bff;
    color: rgba(253, 248, 241, 0.899);
}

#next-button {
    margin-bottom: 20px;
    background-color: rgba(253, 248, 241, 0.899);
}

[id*="list-edit-buttons"] {
    margin: 5px;
}

[id*="list-delete-buttons"] {
    margin: 5px;
}

#next-button:hover {
    background-color: #007bff;
    color: rgba(253, 248, 241, 0.899);
}

#dismiss-button {
    color: #d4edda;
    background-color: #d4edda;
    border: none;
}

/* Footer Styling */

#footer {
    
    background-color: rgba(255, 255, 255);
    color: black;
    text-align: center;
    padding: 12px;
}

footer div a {
    font-size: 150%;
    padding-left: 10px;
    padding-right: 10px;
}

/* Media Queries */

@media screen and (max-width: 540px) {
    #home-page {
        margin-top: 20px;
        width: auto;
    }

    #comment-margin {
        margin-top: 5px;
    }

    #login-styling {
        margin-bottom: 10px;
    }

    #signup-styling {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 475px) {
    #home-page {
        margin-top: 20px;
        width: auto;
    }

    #activity-content {
        margin: 5px;
    }

    #comment-content {
        margin: 5px;
    }

    #signup {
        margin-top: 120px;
        width: auto;
    }

    #login {
        margin-top: 140px;
        width: auto;
    }

    #signout {
        margin-top: 190px;
        width: auto;
    }

    #error {
        margin-top: 140px;
        width: auto;
    }

    #media-query-container {
        padding: 0px;
    }
}