{% extends "base.html" %}

{% block content %}
<div class="container" id="login">
    <div id="activity-card">
        <h1>You Seem Lost</h1>
        <p>What's the difference between you and the Talking Heads?</p>
        <p>Nothing, you're both on the road to nowhere</p>
        <p>404 Error</p>
        <p>Page Not Found</p>
        <div>
            <a href="{% url 'activities' %}" class="btn btn-outline-primary" id="activity-button">Back to safety</a>
        </div>
    </div>
</div>
{% endblock %}