{% extends "base.html" %}

{% load static %}

{% load cloudinary %}

{% block content %}

<!-- 404 Error Message -->
<div class="container" id="error">
    <div id="activity-card">
        <h1>You Seem Lost</h1>
        <p>404 Error</p>
        <p>Page Not Found</p>
        <p>What's the difference between you and the Talking Heads?</p>
        <p>Nothing, you're both on the road to nowhere</p>
        <div>
            <a href="{% url 'activities' %}" class="btn btn-outline-primary" id="error-button">Back to safety</a>
        </div>
    </div>
</div>

{% endblock %}