{% extends "base.html" %}

{% block content %}
<div class="container">
  <div id="activity-content">
    <div class="card card-body" id="activity-card">
      <h1>{{ activity.title }}</h1>
      <hr>
      <p>{{ activity.content }}</p>
      <p class="card-text text-muted h6">{{ activity.athlete }} | {{ activity.pub_date }}</p>
      <span class="card-text text-muted h6"><a href="{% url 'create_comment' activity.pk %}" class="btn btn-primary"
          id="buttons">Add Comment</a></span>
      {% if request.user == activity.athlete %}
      <div>
        <span><a href="{% url 'update_activity' activity.pk %}" class="btn btn-primary" id="edit-button-margin">Edit
            Activity</a></span>
        <span><a href="{% url 'delete_activity' activity.pk %}" class="btn btn-danger" id="delete-button-margin">Delete
            Activity</a></span>
      </div>
      {% endif %}
    </div>
  </div>
  <div id="comment-content">
    <div class="card card-title" id="comment-card">
      <h1>Comments</h1>
      {% for comment in activity.comments.all %}
      <p>{{ comment.content }}</p>
      <p>{{ comment.pub_date }}</p>
      <hr>
      {% endfor %}
    </div>
  </div>
</div>
<a href="{% url 'activities' %}" class="btn btn-outline-primary" id="back-buttons">Back</a>
{% endblock %}