{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{ activity.title }}</h1>
      <p class="lead">{{ activity.content }}</p>
      <p class="card-text text-muted h6">{{ activity.athlete }} | {{ activity.pub_date }}</p>
      {% if user.is_authenticated %}
        <p class="card-text text-muted h6"><a href="{% url 'update_activity' activity.pk %}">Edit Activity</a></p>
        <p class="card-text text-muted h6"><a href="{% url 'delete_activity' activity.pk %}">Delete Activity</a></p>
      {% endif %}
      <p class="card-text text-muted h6"><a href="{% url 'create_comment' activity.pk %}">Add Comment</a></p>

    </div>
  </div>
  <button><a href="{% url 'activity_list' %}">Back</a></button>
{% endblock %}