{% extends "base.html" %}

{% load static %}

{% load cloudinary %}

{% block content %}

<div class="container">
    <div class="col-md-8 mt-3 offset-md-2" id="create-activity-card">
        <h1>Create Activity</h1>
        <div>

            <!-- Create Activity Form -->
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" id="activity-button">Post!</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}