{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container" id="home-page">

    <!-- Home Page -->
    <div id="home-page-card">

        <h1>The Sweat Life!</h1>

        <p>Welcome to The Sweat Life. Our goal with this website is to create an environment and community based around
            the shared love of all things active! Be it a short jog around the block, a super long-distance cycle, or
            anything in between we're here to help you get that heart rate going and nurture that curiosity to explore
            the natural world around us!</p>

        <p>You'll be able to setup your own account, post your activities, and comment on other athletes' posts. So what
            are you waiting for? Join us today and discover our wonderful and ever-growing community!</p>

    </div>

</div>

{% endblock %}